.nav-item-mobile {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.nav-item-mobile h5 {
  margin-left: 10px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  line-height: 1;
}

.no-style-button {
  all: unset; 
  cursor: pointer; 
  font: inherit; 
  color: inherit; 
  background: none; 
  border: none; 
  padding: 0; 
}

.titleColor {
  color: rgb(0, 234, 255);
}